
# === Gmail SMTP (use App Password) ===
GMAIL_USER=janhvidahake2001@gmail.com
GMAIL_APP_PASSWORD=pzba vkwo wtwr xfgz
EMAIL_TO=janhvidahake2001@gmail.com
EMAIL_FROM_NAME=Vuln Scanner

# Scanner behavior
SEVERITY=HIGH,CRITICAL
ALLOWLIST_FILE=allowlist.yml
SUBJECT_PREFIX=[VulnScan]

# SMTP config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465

#slack 
SLACK_WEBHOOK=https://hooks.slack.com/services/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
